
[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "dancing"
version = "0.1.3"
dependencies = [
  "numpy",
  "pandas",
  "beautifulsoup4",
  "requests",
  "lxml",
]
requires-python = ">=3.8"
authors = [
  {name = "Taylor Firman", email = "tefirman@gmail.com"},
]
maintainers = [
  {name = "Taylor Firman", email = "tefirman@gmail.com"}
]
description = "March Madness Bracket Pool Simulator"
readme = "README.md"
license = {file = "LICENSE"}
keywords = ["college basketball", "warren nolan"]
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]

[project.urls]
Homepage = "https://taylorfirman.com"
Repository = "https://github.com/tefirman/dancing.git"
"Bug Tracker" = "https://github.com/tefirman/dancing/issues"

